body {
	color: var(--text-color);
	font-family: monospace;
}

h1 {
	font-size: 32px;
	font-weight: bold;
	border: 5px solid var(--border-color);
	border-radius: 5px;
	background-color: var(--filling-color);
	width: 600px;
	margin: auto;
	margin-top: 10px;
	text-align: center;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	border: 3px solid var(--border-color);
	border-radius: 3px;
	background-color: var(--filling-color);
	width: 400px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
}


form, p {
	text-align: center;
}

input, button {
	margin-top: 5px;
	margin-bottom: 5px;
}

table {
	margin: auto;
}

hr {
	color: var(--accent-color);
	width: 98%;
	margin-top: 30px;
	margin-bottom: 30px;
}

#content {
	width: 900px;
	border: 1px solid var(--text-color);
	border-radius: 10px;
	background-color: var(--background-color);
	margin: auto;
	overflow-wrap: break-word;
}

:root {
	--text-color: #050505;
	--background-color: #E8EBF7;
	--border-color: #F18F01;
	--accent-color: #DE1A1A;
	--filling-color: #33AACE;
}
/* Farben:
Text: #050505
Hintergrund: #E8EBF7
Rahmen: #F18F01
Akzent: #DE1A1A
Füllung: #33AACE
*/